
.header { grid-area: header; }
.content{ grid-area: content; }
.navigation { grid-area: navigation; }
.extra { grid-area: extra; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header header'
    'navigation navigation content content content content extra extra'
    'footer footer footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}

.grid-container > .header {
  background-color: #EEEEEE;
  text-align: left;
  font-family: Arial,sans-serif;
  padding-left: 15px; 
  font-size: 24px;
  color: green;
}

.grid-container > .navigation {
  background-color: #B9CAFF;
}

.grid-container > .extra {
  background-color: #FF8539;
}

.grid-container > footer {
  background-color: #333333;
  text-align: left;
  color: #EEEEEE;
}